include ../../mixins/main-btn

section.section.skew-section.grid-section.offer
  .container.offer__container
    h2.main-title Нужна <span>профессиональная</span> поддержка?

    include ../../components/offer-form

