.main-header {
  position: relative;
  padding: 24px 0;

  &__container {
    @extend .flex-wrap;
    align-items: center;
  }

  &__side {
    @extend .flex-wrap;
    margin-left: auto;
    gap: 30px;
  }
}

.contact-block {
  @extend .flex-column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10px;

  a {
    font-size: 24px;
  }

  a:last-child {
    font-size: 15px;
    color: var(--info);
  }
}
