.main-header {
  position: relative;

  padding: 24px 0;
  background-color: var(--white);
  z-index: 100;
  transition: opacity var(--main-transition);

  &--fix-prepared {
    position: sticky;
    top: 0;
    transform: translateY(-100px);
    opacity: 0;
  }

  .main-logo {
    width: 100%;
    max-width: 15vw;
    min-width: 125px;

    img {
      width: 100%;
      height: auto;
    }

    @include m-b-tablet-down {
      min-width: 185px;
    }
  }

  &__container {
    @extend .flex-wrap;
    align-items: center;
  }

  &__side {
    @extend .flex-wrap;
    margin-left: auto;
    gap: 1.5vw;

    @include m-b-tablet-down {
      gap: 4.5vw;
    }
  }

  &__offer-btn {
    @include m-b-desktop-sm-down {
      width: 50px;
      height: 50px;
      padding: 5px;
      span {
        display: none;
      }

      img {
        margin-right: 0;
      }
    }

    @include m-b-mobile-lg-down {
      display: none;
    }
  }
}

.burger {
  display: none;

  @include m-b-tablet-down {
    display: flex;
  }
  @include m-b-mobile-lg-down {
    width: 36px;
    height: 36px;

    img {
      width: 22px;
      height: 22px;
    }
  }
}

.contact-block-opener {
  @extend .btn-reset;
  @extend .flex-centered-content;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  box-shadow: 0px 30px 60px 0px rgba(178, 0, 255, 0.5);

  display: none;

  @include m-b-tablet-down {
    display: flex;
  }

  @include m-b-mobile-lg-down {
    width: 36px;
    height: 36px;

    img {
      width: 18px;
      height: 18px;
    }
  }
}

.contact-block {
  @extend .flex-column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10px;

  @include m-b-tablet-down {
    display: none;
  }

  a:first-child {
    font-size: clamp(14px, 1.8vw, 24px);
    @include m-b-desktop-sm-down {
      font-weight: 700;
    }
  }

  a:last-child {
    font-size: clamp(12px, 1.4vw, 15px);
    color: var(--info);
  }
}
