.main-nav {
  padding: 0 1.5vw;
  flex-grow: 1;

  @include m-b-tablet-down {
    display: none;
  }

  &__list {
    @extend .list-reset;
    @extend .flex-wrap;
    align-items: center;

    width: 100%;
    max-width: 720px;
    margin: 0 auto;
  }

  &__list-item {
    flex-grow: 1;
    a {
      @extend .flex-centered-content;
      padding: 10px 1vw;
      color: var(--base-text-color);

      svg {
        margin-left: 10px;
      }

      @include m-b-laptop-lg-down {
        font-size: 14px;
      }
    }
  }
}
