.main-btn {
  @extend .btn-reset;
  @extend .flex-centered-content;
  width: fit-content;
  min-height: 50px;
  padding: 14px 24px;

  img {
    margin-right: 10px;
  }

  &--primary {

    border-radius: 100px;
    color: var(--white);
    background: radial-gradient(183.6% 73.98% at 1.29% -21.15%, #FFF500 6.05%, rgba(139, 0, 255, 0.00) 100%), radial-gradient(57.04% 43.55% at 69.19% 116.35%, #06F 0%, rgba(0, 224, 255, 0.00) 100%), linear-gradient(276deg, #8B00FF 58.9%, #EB00FF 105.39%);
    box-shadow: 0px 30px 60px 0px rgba(178, 0, 255, 0.50);
  }

  &--secondary {

  }
}
