.offer-form {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include m-b-laptop-lg-down {
      grid-template-columns: repeat(2, 1fr);
      max-width: 650px;
      margin: 0 auto;
    }

    @include m-b-tablet-down {
      grid-template-columns: 1fr;
      max-width: 400px;
    }
  }

  form {
    padding: 6vw 4vw;
    margin-bottom: 40px;
    border-radius: 40px;
    border: 1px solid #9e00ff;
    background-color: #9e00ff;
    box-shadow: -48px 103px 132.6px 0px rgba(0, 0, 0, 0.15);

    @include m-b-mobile-lg-down {
      padding: 40px 20px;

      .main-btn {
        width: 100%;
      }
    }

    fieldset {
      @extend .flex-column;
      justify-content: flex-end;

      label,
      input {
        cursor: pointer;
      }

      label {
        margin-bottom: 8px;
      }

      input {
        min-height: 50px;
      }

      input[type="text"] {
        font-size: 14px;
        padding: 12px 20px;

        border: 1px solid #f0f0f0;
        border-radius: 10px;
        background: var(--main-bg-color);

        &::placeholder {
          font-size: 14px;
          color: var(--placeholder-color);
        }
      }

      input[type="file"] {
        display: none;
      }
    }

    .user-files-field-upload {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 12px 20px;
      padding-left: 52px;
      margin-bottom: 0;
      min-height: 48px;
      border: 1px solid #f0f0f0;
      border-radius: 10px;
      color: var(--placeholder-color);
      background-color: var(--main-bg-color);
      background-image: url("../assets/img/icon-upload.svg");
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 20px center;
    }

    .user-rules-field {
      grid-column: 1/4;
      color: var(--placeholder-color);

      @include m-b-laptop-lg-down {
        grid-column: 1/3;
      }

      @include m-b-tablet-down {
        grid-column: initial;
      }

      label {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        padding-left: 26px;

        a {
          text-decoration: underline;
          color: var(--warning);
        }

        &::before {
          position: absolute;
          top: 2px;
          left: 0;
          content: "";
          width: 16px;
          height: 16px;
          border-radius: 5px;
          background-color: var(--main-bg-color);
        }
      }

      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]:checked + label::before {
        background-image: url("../assets/img/icon-check.svg");
      }
    }
  }
}
