.page-up-btn {
  @extend .btn-reset;
  @extend .flex-centered-content;
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 185px;
  height: fit-content;
  visibility: hidden;
  opacity: 0;

  z-index: 30;

  @include m-b-desktop-down {
    width: 20vw;
    max-width: 120px;
  }

  @include m-b-laptop-down {
    width: 20vw;
    max-width: 100px;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transform: rotate(30deg);
  }
}
