.service-card {
  width: 100%;
  // max-width: 485px;

  height: fit-content;
  border-radius: 40px;
  background-color: var(--service-card-bg);
  box-shadow: 0px 47px 111px 0px rgba(0, 0, 0, 0.25);

  &__header {
    @extend .flex-column;
    gap: 8px;
    padding: 60px 40px;
    padding: 6vh 2vw;
    border-radius: 40px 40px 0px 0px;
    border: 2px solid var(--service-card-header-border);
    color: var(--white);

    &-overline-text {
      font-size: 14px;

      @supports (font-size: clamp(12px, 2vw, 14px)) {
        font-size: clamp(12px, 2vw, 14px);
      }
    }

    &-title {
      font-size: 34px;

      @supports (font-size: clamp(16px, 2vw, 34px)) {
        font-size: clamp(16px, 2vw, 34px);
      }
    }
  }

  &:nth-child(odd) {
    .service-card__header {
      background: radial-gradient(79.95% 69.01% at 8.92% 4.3%, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(139, 0, 255, 0.70);
    }
  }

  &:nth-child(even) {
    .service-card__header {
      background: radial-gradient(79.95% 69.01% at 8.92% 4.3%, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #8B00FF;}
  }

  &__body {
    @extend .flex-column;
    padding: 30px;
    padding-bottom: 15px;
  }

  &__section-title {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__stuff-list {
    @extend .list-reset;
    @extend .flex-wrap;
    align-items: center;
    column-gap: 20px;
    row-gap: 4px;
    margin-bottom: 30px;

    &-item {
      display: flex;
      align-items: center;
      width: fit-content;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 2px;
        box-shadow: -11px 26px 31px 0px rgba(0, 0, 0, 0.25);
      }

      span {
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 20px;
        background-color: var(--gray-30);
      }
    }
  }

  &__works-list {
    padding: 0;
    padding-left: 18px;
    margin: 0;
    margin-bottom: 30px;

    &-item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &--bold {
        font-weight: 700;
      }
    }
  }

  &__preview-text {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
  }

  &__footer {
    @extend .flex-wrap;
    align-items: center;
    padding: 30px;
    padding-top: 15px;
    gap: 10px;
  }

  &__price {
    display: inline-block;
    font-size: 34px;
    font-weight: 700;
  }

  .main-btn {
    flex-grow: 1;
  }
}
