-
    const serviceContent = [
        {
            title: 'Анализ и аудит сайта:',
            text: 'оценка текущего состояния сайта, выявление проблем и возможностей для улучшения.'
        },
        {
            title: 'Исследование и анализ ключевых слов:',
            text: 'определение наиболее подходящих и перспективных ключевых слов для оптимизации.'
        },
        {
            title: 'Создание и оптимизация контента:',
            text: 'написание и редактирование текстов, изображений, видео для повышения видимости сайта в поисковых системах.'
        },
        {
            title: 'Улучшение структуры и навигации сайта:',
            text: 'разработка удобной и логичной структуры сайта, улучшение пользовательского опыта.'
        },
        {
            title: 'Оптимизация технических параметров сайта:',
            text: 'настройка и оптимизация скорости загрузки страниц, оптимизация кода сайта, исправление ошибок.'
        },
        {
            title: 'Внешняя оптимизация:',
            text: 'наращивание ссылочной массы сайта с помощью естественных и качественных обратных ссылок.'
        },
        {
            title: 'Мониторинг и анализ результатов:',
            text: 'отслеживание результатов проведенных работ и оптимизация стратегий на основе полученных данных.'
        },
        {
            title: 'Ежемесячный отчет:',
            text: 'описание выполненных работ, достигнутые результаты, план работ на следующий период, рекомендации специалиста.'
        }
    ]


section.section.section--bg-gray.skew-section.service-content
    .container
        h2.main-title.main-title--dark Что входит ?
        ul.service-content__list
            each item in serviceContent
                li.service-content__list-item
                    span.service-content__list-item-title!= item.title 
                    span.service-content__list-item-text!= item.text 
            