include ../../mixins/service-stuff-card

section.section.skew-section.service-stuff
    .container
        h2.main-title.main-title--dark Что Вы получаете?
        ul.service-stuff__list
            li.service-stuff__list-item
                +service-stuff-card({
                    title: 'SEO-специалист',
                    text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
                })
            li.service-stuff__list-item
                +service-stuff-card({
                    title: 'Копирайтер',
                    text: 'С обширным профессиональным опытом написания текстов различного характера и сложности, владеющий навыками исследования темы, сбора и анализа информации, создания уникального и качественного контента.'
                })
            li.service-stuff__list-item
                +service-stuff-card({
                    title: 'SEO-специалист',
                    text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
                })
            li.service-stuff__list-item
                +service-stuff-card({
                    title: 'Копирайтер',
                    text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
                })
            li.service-stuff__list-item
                +service-stuff-card({
                    title: 'SEO-специалист',
                    text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
                })
            li.service-stuff__list-item
                +service-stuff-card({
                    title: 'Копирайтер',
                    text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
                })
            li.service-stuff__list-item
                +service-stuff-card({
                    title: 'SEO-специалист',
                    text: 'С богатым опытом успешной оптимизации сайтов для повышения их рейтинга в поисковых системах и привлечения целевого трафика. Владеющий глубокими знаниями в области SEO, интернет-маркетинга и аналитики.'
                })

        p.service-stuff__note.main-text.main-text--dark SEO-оптимизация и качественный копирайтинг позволяют привлечь внимание целевой аудитории, увеличить посещаемость сайта и продажи, улучшить позиции сайта в результатах поиска и укрепить репутацию компании на рынке.
