.about {
  padding-bottom: 200px;

  &__container {
    @extend .base-grid-container;
  }

  &__content {
  }

  &__side {
    height: fit-content;
    position: sticky;
    top: 5vh;
  }

  &__list {
    @extend .list-reset;
  }

  &__list-item {
    margin-bottom: 30px;

    span {
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      background-color: var(--secondary);
    }
  }
}
