.about {
  padding: 60px 0 120px;

  &__container {
    @extend .base-grid-container;
  }

  &__side {
    display: flex;
    height: fit-content;
    position: sticky;
    top: 5vh;

    img {
      margin: 0 auto;

      @include m-b-tablet-down {
        position: static;
        top: unset;
      }
    }
  }

  &__list {
    @extend .list-reset;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    font-size: clamp(14px, 2vw, 18px);
    p {
      margin: 0;
    }

    span {
      display: inline-block;
      padding: 5px;
      border-radius: 5px;
      background-color: var(--secondary);
    }
  }
}
