.faq {
  position: relative;

  &.skew-section {
    padding: 0;
    background-color: transparent;
  }

  &__container {
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-gap: 5vw;
    padding-top: clamp(150px, 36vw, 400px);
    padding-bottom: clamp(150px, 36vw, 400px);
    overflow-x: hidden;

    @include m-b-laptop-down {
      grid-template-columns: 1fr;
    }
  }

  &__side {
    position: relative;
    z-index: 2;
    padding-top: 150px;

    .main-text {
      margin: 0;
    }

    @include m-b-laptop-down {
      padding-top: 0;
    }

    @include m-b-tablet-down {
      .main-text,
      .main-title {
        text-align: center;
      }
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__label {
    position: absolute;

    font-size: clamp(150px, 36vw, 400px);
    line-height: 1;
    font-weight: 600;
    will-change: scroll-position;
    color: var(--gray-10);
    z-index: 0;

    &--top {
      // top: 100px;
      top: clamp(38px, 9vw, 100px);
      right: -100vw;
    }

    &--bottom {
      // bottom: 100px;
      bottom: clamp(38px, 9vw, 100px);
      left: -100vw;
    }
  }
}
