.features {
  position: relative;
  width: 100%;
  height: 100%;

  margin-top: -250px;
  z-index: 11;

  &__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    height: 100%;

    @include m-b-laptop-down {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 12px;
    }

    @include m-b-tablet-down {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
    @extend .flex-column;
    align-items: center;
    padding: 2vw 1vw;
    background-color: var(--white);
    border-radius: 20px;
    border: 1px solid var(--white);
    background-color: var(--white);
    box-shadow: 0px 65px 140px 0px rgba(0, 0, 0, 0.25);

    @include m-b-laptop-down {
      align-items: flex-start;
      justify-content: center;
      min-height: 140px;
      position: relative;
      padding-left: 100px;
    }

    @include m-b-mobile-lg-down {
      padding: 15px;
      padding-left: 75px;
    }

    img {
      margin-bottom: 14px;

      @include m-b-laptop-down {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
      }

      @include m-b-mobile-lg-down {
        width: 45px;
        height: 45px;
        left: 15px;
      }
    }

    &-title {
      display: inline-block;
      font-size: clamp(16px, 1.5vw, 20px);
      font-weight: 600;
      text-align: center;
      margin-bottom: 14px;

      @include m-b-laptop-down {
        text-align: left;
      }
    }

    &-text {
      display: inline-block;
      font-size: clamp(14px, 1.3vw, 18px);
      text-align: center;
      @include m-b-laptop-down {
        text-align: left;
      }
    }
  }
}
