.offer-wrapper {
  &::before {
    position: absolute;
    bottom: 130px;
    right: 10%;
    width: 100%;
    max-width: 35vw;
    min-width: 270px;
    height: 100%;
    max-height: 35vw;
    min-height: 270px;
    content: "";
    background-image: url("../assets/img/offer-section-figure.svg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    will-change: transform;

    @include m-b-mobile-lg-down {
      bottom: 210px;
    }
  }
}

.offer {
  margin-bottom: clamp(60px, 8vw, 150px);

  .main-title {
    font-size: clamp(24px, 5vw, 50px);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;

    span {
      display: inline-block;
      padding: 3px;
      background-color: var(--secondary);
    }
  }

  .offer-form {
    max-width: 1240px;
    margin: 0 auto;
  }
}
