.reviews {
  padding: 300px 0;
  margin-top: 0;

  .main-title {
    text-align: center;
  }

  .reviews__content {
    display: flex;
    gap: 10px;
    width: 100%;
  }
}

.review-card {
  @extend .flex-column;
  gap: 10px;
  padding: 30px;

  width: 100%;
  max-width: 440px;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--review-card-bg);

  &__header {
    @extend .flex-wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__author {
    font-weight: 700;
  }

  &__rate {
    @extend .flex-wrap;
    align-items: center;
    justify-content: center;
    gap: 4px;
    flex-grow: 1;

    &-item {
      @extend .flex-centered-content;
      font-size: 16px;
      color: var(--black);

      svg {
        fill: var(--warning);
      }
    }
  }

  &__content {
    font-size: 14px;
  }
}

// .wrapper{
//   height: 100%;
//   width: 100%;
//   max-width: 100vw;
//   // position: absolute;
//   // top: 5%;
//   // left: 5%;
//   outline: 1px solid #aaa;
//   overflow: hidden;
//   transform: skew(0, 10deg);
// }

// .swiper-container{
//   width: 90%;
//   height: 100%;
//   display: flex;
//   position: relative;

//   // .swiper-scrollbar{
//   //   position: absolute;
//   //   bottom: 0;
//   //   width: 100%;
//   //   height: 10px;
//   //   background: rgba(0,0,0,.1);

//   //   .swiper-scrollbar-drag{
//   //     height: 100%;
//   //     transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
//   //     background: rgba(0,0,0,.4);
//   //   }
//   // }

//   .swiper-wrapper{
//     display: flex;
//     transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
//   }

//   .swiper-slide{
//     height: 100%;
//     min-height: 300px;

//     /*Styling*/
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 40px;
//     font-family: Sans-serif;
//     text-shadow: 1px 2px 2px rgba(0,0,0,.2);
//     color: #fff;
//     /**/

//     &:nth-child(1){
//       background: #7FFFD4;
//     }
//     &:nth-child(2){
//       background: #483D8B;
//     }
//     &:nth-child(3){
//       background: #ADD8E6;
//     }
//     &:nth-child(4){
//       background: #778899;
//     }
//   }
// }
