.service-stuff {
    background-color: var(--white);

    .main-title {
        @extend .main-title-mb;
        text-align: center;
    }

    &__list {
        @extend .list-reset;
        @extend .flex-wrap;
        gap: 20px;
        justify-content: center;
        max-width: 1260px;
        margin: 0 auto;
        margin-bottom: clamp(40px, 5vw, 90px);
    }

    &__list-item {
        display: flex;
        justify-content: center;
        width: calc(50% - 10px);

        @include m-b-tablet-down {
            width: 100%;
        }
    }

    &__note {
        font-weight: 600;
        text-align: center;
        max-width: 840px;
        margin: 0 auto;
    }
}