.support {
  margin: 0;

  @include m-b-up(1500px) {
    padding: 300px 0 200px;
  }

  &__container {
    @extend .base-grid-container;
  }

  &__content {
    .main-title span {
      display: block;
      font-size: clamp(14px, 2vw, 20px);
      text-transform: uppercase;
      margin-bottom: 12px;
    }
  }

  &__side {
    display: flex;
    height: fit-content;
    position: sticky;
    top: 120px;

    img {
      margin: 0 auto;
    }
  }
}
