.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  @include m-b-desktop-down {
    padding: 0 40px;
  }

  @include m-b-laptop-down {
    padding: 0 24px;
  }

  @include m-b-tablet-down {
    padding: 0 16px;
  }

  @include m-b-mobile-lg-down {
    padding: 0 12px;
  }
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-fluid-offset);
  max-width: var(--container-fluid-width);

  @include m-b-laptop-down {
    padding: 0 30px;
  }

  @include m-b-tablet-down {
    padding: 0 20px;
  }

  @include m-b-mobile-lg-down {
    padding: 0 15px;
  }
}

.main-title {
  font-size: 60px;
  font-size: clamp(24px, 5vw, 60px);
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  color: var(--main-title-color);

  &--dark {
    color: var(--main-title-dark-color);
  }
}

.main-desc {
  font-size: clamp(14px, 2.5vw, 18px);
  margin-bottom: 40px;
  color: var(--white);
}

.main-text {
  font-size: 18px;

  font-size: clamp(14px, 2vw, 18px);
  margin: 0;
  margin-bottom: 40px;
  color: var(--main-text-color);

  &--dark {
    color: var(--main-text-dark-color);
  }
}

.text-bold {
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.section {
  padding: 60px 0;
}

.skew-section {
  will-change: auto;
  transform: skew(0, -10deg);
  // padding: 300px 0;
  padding: 20vw 0;
  background-color: var(--primary);

  @include m-b-down(360px) {
    padding: 60px 0;
  }

  @include m-b-up(1500px) {
    padding: 300px 0;
  }

  .container,
  .container-fluid {
    transform: skew(0, 10deg);
    will-change: auto;
  }

  &--bg-radial {
    background: radial-gradient(
        67.45% 66.63% at 110% -18.83%,
        #06f 0.94%,
        #8b00ff 100%
      ),
      #8b00ff;
  }
}

.grid-section {
  position: relative;

  &-line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(177, 177, 176, 0.3);
    z-index: -1;
  }
}
