.accordeon
  each item of accordeonMock
    .accordeon__item
      .accordeon__item-header.collapsed
        span!= item
      .accordeon__item-body
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tempora doloribus dignissimos, exercitationem minus dolorum fugiat magnam aliquid dicta corrupti ex quaerat beatae quae dolorem atque excepturi nihil nemo at!
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tempora doloribus dignissimos, exercitationem minus dolorum fugiat magnam aliquid dicta corrupti ex quaerat beatae quae dolorem atque excepturi nihil nemo at!
