.review-card
  .review-card__header
    span.review-card__author Евгений
    .review-card__rate(aria-label="Рейтинг: 3")
      .review-card__rate-item(aria-hidden="true")
        svg(width="14" height="14")
          use(xlink:href="./assets/sprite.svg#icon-rate")
      .review-card__rate-item(aria-hidden="true")
        svg(width="14" height="14")
          use(xlink:href="./assets/sprite.svg#icon-rate")
      .review-card__rate-item(aria-hidden="true")
        svg(width="14" height="14")
          use(xlink:href="./assets/sprite.svg#icon-rate")

    span.review-card__date 08.12.2023
  .review-card__content
    | Компания Веб-эксперт помогла нам оптимизировать наш сайт, благодаря чему мы значительно увеличили посещаемость и конверсию. Профессионализм и оперативность работы команды оставили только положительные впечатления.
