extends layouts/main-layout.pug
include ./mixins/page-top-section

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  +page-top-section({
    title: 'Базовая поддержка вашего&nbsp;сайта',
    text: 'SEO-оптимизатор и копирайтер для работы с сайтом всего&nbsp;за',
    price: '35 000',
    offerBtn: true,
    img: "service-img.png",
    imgAlt: "Тариф 'Базовый'",
    imgWidth: 782,
    imgHeight: 782,
    cls: 'skew-section--bg-radial'
  })
  include ./views/service-detail-page-view

block modals
  //include ./modals/...
