extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./views/service-detail-page-view

block modals
  //include ./modals/...
