section.section.sticky-side-section.about
  .container.about__container
    .about__content
      h2.main-title.main-title--dark Комплексная поддержка вашего сайта.

      p.main-text.main-text--dark Обращение в компанию “Веб-Эксперт” за комплексной поддержкой сайта имеет ряд преимуществ перед содержанием собственного IT-отдела:

      ul.about__list
        li.about__list-item
          p <span>Экономия средств:</span> Содержание собственного IT-отдела требует значительных финансовых вложений. В то время как обращение к профессионалам “Веб-Эксперта” обойдется значительно дешевле, так как они предоставляют услуги по более низким ценам, чем это было бы в случае найма отдельных специалистов.
        li.about__list-item
          p <span>Качество работы:</span> Специалисты “Веб-Эксперта” обладают высокой квалификацией и опытом работы в сфере IT. Они могут предложить более качественные и эффективные решения для вашего сайта, чем отдельные специалисты, нанятые через рекрутинговые агентства.
        li.about__list-item
          p <span>Оперативность решения проблем:</span> В случае возникновения проблем на вашем сайте, специалисты “Веб-Эксперта” смогут оперативно их устранить, в то время как собственный IT-отдел может потребовать времени на решение проблемы.
        li.about__list-item
          p <span>Отсутствие необходимости в постоянном контроле:</span> Вам не нужно будет контролировать работу собственного IT-отдела, так как специалисты “Веб-Эксперта” будут предоставлять вам регулярные отчеты о проделанной работе и достигнутых результатах.

    .about__side.sticky-side-section-target
      img(src="./assets/img/about-img.png" alt="Комплексная поддержка вашего сайта" width="430" height="400")
