section.section.skew-section.advantages
  canvas#canvas
  .container.advantages__container
    h2.main-title.main-title--dark Почему выбирают нас

    ul.advantages__list
      li.advantages__list-item

        img(src="./assets/img/advantages-icon-1.png" alt="Индивидуальный подход" width="100" height="100")
        span.advantages__list-item-title Индивидуальный подход
        p.main-text.main-text--dark Мы предлагаем индивидуальный подход к каждому клиенту, учитывая все его потребности и пожелания. Мы стремимся создать максимально эффективный и удобный сайт для вашего бизнеса.

      li.advantages__list-item
        img(src="./assets/img/advantages-icon-2.png" alt="Индивидуальный подход" width="100" height="100")
        span.advantages__list-item-title Индивидуальный подход
        p.main-text.main-text--dark Мы предлагаем индивидуальный подход к каждому клиенту, учитывая все его потребности и пожелания. Мы стремимся создать максимально эффективный и удобный сайт для вашего бизнеса.

      li.advantages__list-item
        img(src="./assets/img/advantages-icon-3.png" alt="Комплексный подход" width="100" height="100")
        span.advantages__list-item-title Комплексный подход
        p.main-text.main-text--dark Мы предоставляем полный комплекс услуг по поддержке и развитию сайта, начиная от аудита и оптимизации, заканчивая продвижением и технической поддержкой.

      li.advantages__list-item
        img(src="./assets/img/advantages-icon-4.png" alt="Оперативность" width="100" height="100")
        span.advantages__list-item-title Оперативность
        p.main-text.main-text--dark Мы всегда стараемся оперативно реагировать на запросы клиентов и решать возникающие проблемы в кратчайшие сроки.

      li.advantages__list-item
        img(src="./assets/img/advantages-icon-5.png" alt="Гибкость" width="100" height="100")
        span.advantages__list-item-title Гибкость
        p.main-text.main-text--dark Мы готовы предложить гибкие условия сотрудничества и адаптировать наши услуги под ваши потребности и бюджет.

      li.advantages__list-item
        img(src="./assets/img/advantages-icon-6.png" alt="Надежность" width="100" height="100")
        span.advantages__list-item-title Надежность
        p.main-text.main-text--dark Мы гарантируем надежность и стабильность работы вашего сайта, так как используем только проверенные и надежные технологии и инструменты.

      li.advantages__list-item
        img(src="./assets/img/advantages-icon-7.png" alt="Прозрачность" width="100" height="100")
        span.advantages__list-item-title Прозрачность
        p.main-text.main-text--dark Мы всегда открыты и честны с нашими клиентами, предоставляя полную информацию о ходе выполнения работ и результатах.

