-
  const accordeonMock = [
    'Что такое веб поддержка сайта?', 'Какие услуги входят в веб поддержку сайта?', 'Как выбрать надежного провайдера веб поддержки сайта?',
    'Как часто нужно обновлять информацию на сайте?', 'Какие технологии используются для веб поддержки сайта?', 'Нужно ли обновлять дизайн сайта?'
  ]

section.section.faq
  .container.faq__container
    .faq__side
      h2.main-title.main-title--dark Вопрос ответ
      p.main-text.main-text--dark !!!!!!Чтобы привлекать новых пользователей на сайт из таких поисковых систем, как Google и Яндекс, очень важно сначала оптимизировать контент. Один из эффективных способов привлечения трафика — SEO-текст.

    .faq__content
      include ../../components/accordeon



