section.section.features
  .container.features__container
    ul.features__list
      li.features__list-item
        img(src="./assets/img/feature-icon-1.png" alt="Устали от технических проблем на сайте?" width="60" height="60")
        span.features__list-item-title Устали от технических проблем на сайте?
        span.features__list-item-text Доверьте его нам и забудьте о заботах!

      li.features__list-item
        img(src="./assets/img/feature-icon-2.png" alt="Ваш сайт нуждается в оптимизации?" width="60" height="60")
        span.features__list-item-title Ваш сайт нуждается в оптимизации?
        span.features__list-item-text Мы поможем увеличить его видимость в поиске!

      li.features__list-item
        img(src="./assets/img/feature-icon-3.png" alt="Ваш бизнес зависит от работоспособности сайта?" width="60" height="60")
        span.features__list-item-title Ваш бизнес зависит от работоспособности сайта?
        span.features__list-item-text Обеспечьте его надежность с нашей поддержкой!

      li.features__list-item
        img(src="./assets/img/feature-icon-4.png" alt="Заметили снижение трафика на сайте?" width="60" height="60")
        span.features__list-item-title Заметили снижение трафика на сайте?
        span.features__list-item-text Исправьте это с нашей профессиональной поддержкой!



