include ../../mixins/main-btn

//- section.test
//-   video(src="./assets/video/main-hero-video.mp4" loop playsinline preload="auto" autoplay muted)
//-   <svg width="100%" height="100%" viewBox="0 0 383 725">
//-     <defs>
//-       <clipPath id="testClipPathId">
//-         <path d="M124.786 180.844C126.981 174.049 132.632 168.939 139.613 167.438L917.514 0.141007L933.753 748.046L294.129 887.802C287.121 889.333 279.83 886.994 275.021 881.672L5.34087 583.228C0.550304 577.927 -1.04803 570.472 1.14793 563.673L124.786 180.844Z" fill="#C4C4C4"/>
//-       </clipPath>
//-     </defs>
//-   </svg>

section.section.skew-section.skew-section--bg-radial.hero
  .container.hero__container
    .hero__content
      h1.main-title Не откладывайте развитие своего сайта на потом!

      p.main-desc Обратитесь к профессионалам из компании Веб-эксперт и получите комплексную веб поддержку, которая поможет вашему бизнесу расти и развиваться!

      +main-btn({
        type: 'button',
        text: 'Оставить заявку',
        cls: 'main-btn--secondary',
        imgPath: "./assets/img/icon-post.svg",
        imgAlt: "Иконка конверта",
        imgWidth: 24,
        imgHeight: 24
      })

    .hero__side
      .hero__side-wrapper(style="background-image: url('./assets/img/hero-img.jpg')")
        video(src="./assets/video/main-hero-video.mp4" loop playsinline preload="auto" autoplay muted)

        <svg  max-width="100%" width="100" max-height="100vh" height="100" width="0" height="0">
          <defs>
            <clipPath id="heroClipPathId">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M132.5 4.5C149.5 -3 124.786 8.5 124.786 16.844L1.14796 399.673C-1.04794 406.472 0.550358 413.927 5.34086 419.228L268 712.5C272.096 717.032 277 724.231 299.5 724.231H2728.5V0H169H149.5L132.5 4.5Z" fill="black"/>
            </clipPath>
          </defs>
        </svg>
