include ../../mixins/main-btn

section.section.hero.skew-section.skew-section--bg-radial
  .container.hero__container
    .hero__content
      h1.main-title Не откладывайте развитие своего сайта на потом!

      p.main-desc Обратитесь к профессионалам из компании Веб-эксперт и получите комплексную веб поддержку, которая поможет вашему бизнесу расти и развиваться!

      +main-btn({
        type: 'button',
        text: 'Оставить заявку',
        cls: 'main-btn--secondary',
        imgPath: "./assets/img/icon-post.svg",
        imgAlt: "Иконка конверта",
        imgWidth: 24,
        imgHeight: 24
      })

    .hero__side
      .hero__side-wrapper(style="background-image: url('./assets/img/hero-img.jpg')")
        video(src="./assets/video/main-hero-video.mp4" loop playsinline preload="auto" autoplay muted)

        <svg  max-width="100%" width="100" max-height="100vh" height="100" width="0" height="0">
          <defs>
            <clipPath id="heroClipPathId">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M132.5 4.5C149.5 -3 124.786 8.5 124.786 16.844L1.14796 399.673C-1.04794 406.472 0.550358 413.927 5.34086 419.228L268 712.5C272.096 717.032 277 724.231 299.5 724.231H2728.5V0H169H149.5L132.5 4.5Z" fill="black"/>
            </clipPath>
          </defs>
        </svg>
