include ../../mixins/main-btn

section.section.hero.skew-section.skew-section--bg-radial
  .container.hero__container
    .hero__content
      h1.main-title Не откладывайте развитие&nbsp;своего сайта&nbspна&nbsp;потом!

      p.main-desc Обратитесь к профессионалам из компании Веб-эксперт и получите комплексную веб поддержку, которая поможет вашему бизнесу расти и развиваться!

      +main-btn({
        type: 'button',
        text: 'Оставить заявку',
        cls: 'main-btn--secondary',
        imgPath: "./assets/img/icon-post.svg",
        imgAlt: "Иконка конверта",
        imgWidth: 24,
        imgHeight: 24
      })

    .hero__side
      .hero__side-wrapper
        video(src="./assets/video/main-hero-video.mp4" loop playsinline preload="auto" autoplay muted)

        //- <svg max-width="100%" viewBox="0 0 100 100" width="100" max-height="100vh" height="100" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
        //-   <defs>
        //-     <clipPath id="heroClipPathId">
        //-       <path d="M179.798 10.6224C183.371 4.43441 189.973 0.622441 197.119 0.622441L2638.36 0.622474C2650.9 0.622474 2660.34 12.0223 2658.01 24.3396L2601.7 322.036C2601.24 324.493 2601.24 327.014 2601.7 329.471L2658.01 627.167C2660.34 639.484 2650.9 650.884 2638.36 650.884L197.119 650.884C189.973 650.884 183.371 647.072 179.798 640.884L3.63071 335.753C0.0580575 329.565 0.0580581 321.941 3.63071 315.753L179.798 10.6224Z" fill="#C4C4C4"/>
        //-     </clipPath>
        //-   </defs>
        //- </svg>

        <svg max-width="100%" viewBox="0 0 100 100" width="100" max-height="100vh" height="100" width="100%" height="100%" preserveAspectRatio="xMidYMid meet">
          <defs>
            <clipPath id="heroClipPathId">
              <path d="M198.46 10.0743C202.033 3.88627 208.635 0.0743136 215.781 0.0743144L2909.16 0.0746036C2921.7 0.074605 2931.14 11.4744 2928.81 23.7918L2866.24 354.585C2865.78 357.041 2865.78 359.563 2866.24 362.019L2928.81 692.812C2931.14 705.129 2921.7 716.529 2909.16 716.529L215.781 716.529C208.636 716.529 202.033 712.717 198.46 706.529L3.18479 368.301C-0.387862 362.113 -0.387851 354.49 3.1848 348.302L198.46 10.0743Z" fill="#C4C4C4"/>
            </clipPath>
          </defs>
        </svg>
