section.section.skew-section.reviews
  .container.reviews__container
    h2.main-title Отзывы
    .scrollable-slider-controls
      .swiper-button-prev
      .swiper-button-next

  .container-fluid
    .reviews__content
      .swiper.scrollable-slider
        .swiper-wrapper
          each item in [1,2,3,4,5]
            .swiper-slide
              include ../../components/review-card

