include ../../mixins/service-card

-
  const servicesMock = [
    {
      type: 'Базовая',
      text: 'Включает в себя обновление содержимого сайта, поддержку пользователей и базовую оптимизацию для поисковых систем',

      stuff: [
        {
          img: 'stuff-img',
          rank: 'Менеджер проекта'
        },
        {
          img: 'stuff-img',
          rank: 'SEO-оптимизатор'
        },
        {
          img: 'stuff-img',
          rank: 'Копирайтер'
        }
      ],

      works: [
        {
          title: 'Анализ и аудит сайта.',
          isBold: false,
        },
        {
          title: 'Исследование и анализ ключевых слов.',
          isBold: false,
        },
        {
          title: 'Создание и оптимизация контента.',
          isBold: false,
        },
        {
          title: 'Улучшение структуры и навигации сайта.',
          isBold: false,
        },
        {
          title: 'Оптимизация технических параметров сайта.',
          isBold: false,
        },
        {
          title: 'Внешняя оптимизация.',
          isBold: false,
        },
        {
          title: 'Мониторинг и анализ результатов.',
          isBold: false,
        },
        {
          title: 'Ежемесячный отчет.',
          isBold: false,
        },
      ],

      price: '35 000 руб.'
    },
    {
      type: 'Стандартная',
      text: 'Включает все опции базового тарифа, а также дополнительные услуги, такие как анализ конкурентов, улучшение дизайна и юзабилити сайта',

      stuff: [
        {
          img: 'stuff-img',
          rank: 'Менеджер проекта'
        },
        {
          img: 'stuff-img',
          rank: 'Верстальщик'
        },
        {
          img: 'stuff-img',
          rank: 'Дизайнер'
        },
        {
          img: 'stuff-img',
          rank: 'SEO-оптимизатор'
        },
        {
          img: 'stuff-img',
          rank: 'Копирайтер'
        }
      ],

      works: [
        {
          title: 'Анализ и аудит сайта.',
          isBold: false,
        },
        {
          title: 'Исследование и анализ ключевых слов.',
          isBold: false,
        },
        {
          title: 'Создание и оптимизация контента.',
          isBold: false,
        },
        {
          title: 'Улучшение структуры и навигации сайта.',
          isBold: false,
        },
        {
          title: 'Оптимизация технических параметров сайта.',
          isBold: false,
        },
        {
          title: 'Внешняя оптимизация.',
          isBold: false,
        },
        {
          title: 'Мониторинг и анализ результатов.',
          isBold: false,
        },
        {
          title: 'Исследование и анализ требований клиента.',
          isBold: true,
        },
        {
          title: 'Разработка концепции и стиля проекта.',
          isBold: true,
        },
        {
          title: 'Проектирование и верстка макетов.',
          isBold: true,
        },
        {
          title: 'Подготовка графических материалов.',
          isBold: true,
        },
        {
          title: 'Адаптивная и кроссбраузерная верстка.',
          isBold: true,
        },
        {
          title: 'Тестирование и отладка проекта.',
          isBold: true,
        },
        {
          title: 'Поддержка и сопровождение проекта.',
          isBold: true,
        },
        {
          title: 'Ежемесячный отчет.',
          isBold: false,
        },
      ],

      price: '55 000 руб.'
    },
    {
      type: 'Улучшенная',
      text: 'Включает в себя все опции стандартного тарифа, а также индивидуальную разработку стратегии продвижения сайта и работу с контекстом в интернете',

      stuff: [
        {
          img: 'stuff-img',
          rank: 'Менеджер проекта'
        },
        {
          img: 'stuff-img',
          rank: 'Программист'
        },
        {
          img: 'stuff-img',
          rank: 'Директолог'
        },
        {
          img: 'stuff-img',
          rank: 'Верстальщик'
        },
        {
          img: 'stuff-img',
          rank: 'Дизайнер'
        },
        {
          img: 'stuff-img',
          rank: 'SEO-оптимизатор'
        },
        {
          img: 'stuff-img',
          rank: 'Копирайтер'
        }
      ],

      works: [
        {
          title: 'Анализ и аудит сайта.',
          isBold: false,
        },
        {
          title: 'Исследование и анализ ключевых слов.',
          isBold: false,
        },
        {
          title: 'Создание и оптимизация контента.',
          isBold: false,
        },
        {
          title: 'Улучшение структуры и навигации сайта.',
          isBold: false,
        },
        {
          title: 'Оптимизация технических параметров сайта.',
          isBold: false,
        },
        {
          title: 'Внешняя оптимизация.',
          isBold: false,
        },
        {
          title: 'Мониторинг и анализ результатов.',
          isBold: false,
        },
        {
          title: 'Исследование и анализ требований клиента.',
          isBold: false,
        },
        {
          title: 'Разработка концепции и стиля проекта.',
          isBold: false,
        },
        {
          title: 'Проектирование и верстка макетов.',
          isBold: false,
        },
        {
          title: 'Подготовка графических материалов.',
          isBold: false,
        },
        {
          title: 'Адаптивная и кроссбраузерная верстка.',
          isBold: false,
        },
        {
          title: 'Тестирование и отладка проекта.',
          isBold: false,
        },
        {
          title: 'Поддержка и сопровождение проекта.',
          isBold: false,
        },
        {
          title: 'Анализ бизнеса и конкурентов.',
          isBold: true,
        },
        {
          title: 'Определение стратегии и тактики продвижения.',
          isBold: true,
        },
        {
          title: 'Сбор и кластеризация ключевых слов.',
          isBold: true,
        },
        {
          title: 'Настройка и запуск рекламных кампаний.',
          isBold: true,
        },
        {
          title: 'Мониторинг и оптимизация кампаний.',
          isBold: true,
        },
        {
          title: 'Анализ и улучшение рекламных материалов.',
          isBold: true,
        },
        {
          title: 'Работа с обратной связью и отчетность.',
          isBold: true,
        },
        {
          title: 'Ежемесячный отчет.',
          isBold: false,
        },
      ],

      price: '70 000 руб.'
    },
    {
      type: 'Профессиональная',
      text: 'Включает в себя полный комплекс услуг по веб-поддержке, включая разработку и продвижение новых проектов, а также мониторинг и оптимизацию уже существующих ресурсов',

      stuff: [
        {
          img: 'stuff-img',
          rank: 'Менеджер проекта'
        },
        {
          img: 'stuff-img',
          rank: 'Программист'
        },
        {
          img: 'stuff-img',
          rank: 'Директолог'
        },
        {
          img: 'stuff-img',
          rank: 'Верстальщик'
        },
        {
          img: 'stuff-img',
          rank: 'Дизайнер'
        },
        {
          img: 'stuff-img',
          rank: 'SEO-оптимизатор'
        },
        {
          img: 'stuff-img',
          rank: 'Копирайтер'
        }
      ],

      works: [
        {
          title: 'Анализ и аудит сайта.',
          isBold: false,
        },
        {
          title: 'Исследование и анализ ключевых слов.',
          isBold: false,
        },
        {
          title: 'Создание и оптимизация контента.',
          isBold: false,
        },
        {
          title: 'Улучшение структуры и навигации сайта.',
          isBold: false,
        },
        {
          title: 'Оптимизация технических параметров сайта.',
          isBold: false,
        },
        {
          title: 'Внешняя оптимизация.',
          isBold: false,
        },
        {
          title: 'Мониторинг и анализ результатов.',
          isBold: false,
        },
        {
          title: 'Исследование и анализ требований клиента.',
          isBold: false,
        },
        {
          title: 'Разработка концепции и стиля проекта.',
          isBold: false,
        },
        {
          title: 'Проектирование и верстка макетов.',
          isBold: false,
        },
        {
          title: 'Подготовка графических материалов.',
          isBold: false,
        },
        {
          title: 'Адаптивная и кроссбраузерная верстка.',
          isBold: false,
        },
        {
          title: 'Тестирование и отладка проекта.',
          isBold: false,
        },
        {
          title: 'Поддержка и сопровождение проекта.',
          isBold: false,
        },
        {
          title: 'Анализ бизнеса и конкурентов.',
          isBold: false,
        },
        {
          title: 'Определение стратегии и тактики продвижения.',
          isBold: false,
        },
        {
          title: 'Сбор и кластеризация ключевых слов.',
          isBold: false,
        },
        {
          title: 'Настройка и запуск рекламных кампаний.',
          isBold: false,
        },
        {
          title: 'Мониторинг и оптимизация кампаний.',
          isBold: false,
        },
        {
          title: 'Анализ и улучшение рекламных материалов.',
          isBold: false,
        },
        {
          title: 'Работа с обратной связью и отчетность.',
          isBold: false,
        },
        {
          title: 'Изучение требований и пожеланий заказчика.',
          isBold: true,
        },
        {
          title: 'Разработка технического задания и проектирование системы.',
          isBold: true,
        },
        {
          title: 'Написание кода и создание модулей программы.',
          isBold: true,
        },
        {
          title: 'Тестирование и исправление ошибок.',
          isBold: true,
        },
        {
          title: 'Внедрение и настройка системы на сервере.',
          isBold: true,
        },
        {
          title: 'Обучение пользователей и поддержка системы.',
          isBold: true,
        },
        {
          title: 'Развитие и модернизация системы в соответствии с новыми требованиями.',
          isBold: true,
        },
        {
          title: 'Ежемесячный отчет.',
          isBold: false,
        },
      ],

      price: '90 000 руб.'
    },
  ]

section.section.skew-section.services
  .container
    h2.main-title.main-title--dark Наши услуги

    .services__content
      each item of servicesMock
        +service-card(item)
