include ../../mixins/main-btn

section.section.skew-section.sticky-side-section.support
  .container.support__container
    .support__content
      h2.main-title <span>Поддержка</span> Под индивидуальный запрос

      p.main-text Поддержка сайта под индивидуальный запрос - это услуга, которая подходит для владельцев сайтов, нуждающихся в специализированной помощи и индивидуальном подходе к решению задач. Она включает в себя широкий спектр услуг, таких как аудит сайта, оптимизация контента, улучшение SEO, техническая поддержка, улучшение дизайна, поддержка пользователей и многое другое. Благодаря индивидуальному подходу, наши специалисты смогут максимально точно определить потребности вашего сайта и предложить наиболее эффективные решения для его развития и продвижения.

      +main-btn({
        type: 'button',
        text: 'Заполнить бриф онлайн',
        cls: 'main-btn--secondary',
        imgPath: "./assets/img/icon-post.svg",
        imgAlt: "Иконка конверта",
        imgWidth: 24,
        imgHeight: 24
      })

    .support__side.sticky-side-section-target
      img(src="./assets/img/support-img.png" alt="Поддержка" width="415" height="390")
