nav.main-nav
  ul.main-nav__list
    li.main-nav__list-item
      a(href="#") О компании
    li.main-nav__list-item
      a(href="#")
        | Услуги
        svg(width="16" height="16")
          use(xlink:href="./assets/sprite.svg#icon-arrow")

    li.main-nav__list-item
      a(href="#") Акции
    li.main-nav__list-item
      a(href="#") Блог
    li.main-nav__list-item
      a(href="#") Контакты
