include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body
    include ./main-header

    main
      block content

    include ./main-footer

    block modals

    block scripts
      //script(src="./js/bundle.js")