footer.main-footer
  .container.main-footer__container
    .main-footer__company
      include ../components/main-logo
      span.main-footer__company-rights © 2024 WEB-EXPERT
      a(href="#").main-footer__company-policy Политика конфиденциальности
    include ./main-nav
    include ../components/contact-block

include ../components/page-up-btn
