:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #8b00ff;
  --secondary: #cf95d8;
  --warning: #fff500;
  --danger: ;
  --info: #674185;

  --gray-10: #fafafa;
  --gray-20: #f0f0f0;
  --gray-30: #ebebeb;
  --gray-40: #f5f5f5;
  --gray-60: #a8a8a8;

  --main-title-color: var(--white);
  --main-title-dark-color: var(--black);
  --main-text-color: var(--white);
  --main-text-dark-color: var(--black);
  --base-text-color: var(--black);
  --main-bg-color: var(--white);
  --placeholder-color: var(--gray-60);

  --review-card-bg: var(--gray-40);
  --service-card-bg: var(--white);
  --service-card-header-border: #b071e2;
}
