:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #8b00ff;
  --secondary: #cf95d8;
  --warning: #fff500;
  --danger: ;
  --info: #674185;

  --gray-10: #fafafa;
  --gray-20: #F0F0F0;
  --gray-30: #ebebeb;
  --gray-60: #a8a8a8;

  --base-text-color: var(--black);
  --main-bg-color: var(--white);
  --placeholder-color: var(--gray-8);
}
